* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: aliceblue;
}

article {
  display: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

#body-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  /* 월드맵 핀 */
  /* #svg-all > div > svg {
    width: 5vw;
    height: 5vw;
    filter: drop-shadow(1px 2px 1px gray);
  }

  #svg1 svg {
    position: absolute;
    right: 31vw;
    top: 12vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }
  #svg2 svg {
    position: absolute;
    right: 45vw;
    top: 14vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }
  #svg3 svg {
    position: absolute;
    right: 65vw;
    top: 13vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }
  #svg4 svg {
    position: absolute;
    right: 58vw;
    top: 28vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }
  #svg5 svg {
    position: absolute;
    right: 31vw;
    top: 12vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }
  #svg6 svg {
    position: absolute;
    right: 31vw;
    top: 12vw;
    filter: invert(46%) sepia(98%) saturate(493%) hue-rotate(333deg)
      brightness(94%) contrast(94%);
    fill: rgb(59, 87, 226);
  }

  .buzzAnim {
    animation: svg 0.2s linear infinite;
  }

  @keyframes svg {
    50% {
      transform: translateX(2px) rotate(10deg);
    }
    100% {
      transform: translateX(-2px) rotate(-10deg);
    }
  } */
}
